@keyframes headerAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: headerAnimation 0.3s ease-out forwards;
  animation-delay: 0.3s;
  transition: 0.3s ease;
  transform: translateY(-100%);
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 2rem;
}
.navLink {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}
/* .navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(89, 151, 155, 0.8);
  transition: 0.3s ease;
}
.navLink:hover::before {
  width: 100%;
} */
.navLink:hover {
  color: rgba(89, 151, 155, 0.8);
  transform: scale(1.05);
  transition: 0.3s ease;
}

.ctaButton {
  background-color: rgba(89, 151, 155, 0.8);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.ctaButton:hover {
  background-color: rgba(89, 151, 155, 0.5);
  transform: scale(1.05);
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.125rem;
  font-weight: bold;
}
