@keyframes headerAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: headerAnimation 0.3s ease-out forwards;
  animation-delay: 0.3s;
  transition: 0.3s ease;
  transform: translateY(-100%);
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 2rem;
}
.navLink {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}
/* .navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(89, 151, 155, 0.8);
  transition: 0.3s ease;
}
.navLink:hover::before {
  width: 100%;
} */
.navLink:hover {
  color: rgba(89, 151, 155, 0.8);
  transform: scale(1.05);
  transition: 0.3s ease;
}

.ctaButton {
  background-color: rgba(89, 151, 155, 0.8);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.ctaButton:hover {
  background-color: rgba(89, 151, 155, 0.5);
  transform: scale(1.05);
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8.125rem;
  font-weight: bold;
}
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}
.logo:hover {
  transform: scale(1.05) rotate(5deg);
}
.logoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.logoTextSpan {
  font-size: 0.8rem;
  font-weight: 400;
}
.logoSpanHighlight {
  color: rgba(89, 151, 155, 0.8);
}
.logoSpan {
  font-size: 1.5rem;
}

@keyframes dots {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo:before {
  content: "";
  position: absolute;
  top: 5px;
  right: -5px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #59979b;
  animation: dots 0.3s ease-out forwards;
  animation-delay: 1.4s;
  opacity: 0;
}
.logo:after {
  content: "";
  position: absolute;
  top: 15px;
  right: -5px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #59979b;
  animation: dots 0.3s ease-out forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.logoSpan {
  color: #000;
}

.middleDot {
  opacity: 0;
  transform-origin: center;
  animation: dots 0.3s ease-out forwards;
  animation-delay: 1.1s;
}
@keyframes drawStroke {
  from {
    stroke-dashoffset: 48;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.searchCircle {
  stroke-dasharray: 47.12;
  stroke-dashoffset: 47.12;

  transform: rotate(50deg);
  transform-origin: 10.5px 10.5px;

  animation: drawStroke 1.2s ease-out forwards;
  animation-delay: 0.4s;
}
