.content {
  margin-top: 100px;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}
.description {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}
.card {
  background-color: white;
  padding: 20px;
  width: 300px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: translateY(-10px);
  transition: 0.8s ease;
}
.card:hover .cardIcon {
  transform: scale(1.1);
  transition: 0.1s ease;
}
.cardIcon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(108, 142, 127, 0.3);
  border-radius: 1rem;
}
.cardTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
}
.cardDescription {
  font-size: 1rem;
  margin-top: 20px;
}
